*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    color: #ffffff;
}
a{
    text-decoration: none;
}
body{
    background-color: #00011A;
    min-width: 153px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}